[user]
	name = shenmishajing
	email = shenmishajing@Gmail.com
[core]
	editor = code-insiders --wait
	excludesfile = /Users/zwh/.gitignore_global
	autocrlf = input
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	g = git
	unstage = reset HEAD
	last = log -1 HEAD
	visual = !gitk
	i = init
	r = remote
	cn = config
	a = add
	ps = push
	pl = pull
	fe = fetch
	f = fetch --all
	cl = clone
	d = diff
	cia = commit -C HEAD -a --amend
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
[mergetool]
	keepBackup = false
[merge]
	tool = p4merge
[http]
	postBuffer = 2097152000
[ssh]
	postBuffer = 2097152000
[credential]
	helper = store
[push]
	default = simple
